html,
body {
  background-color: #daddb1;
}
.submit_btn {
  background-color: #b3a492;
  color: white;
}
.input_guess {
  background-color: #b3a492;
  width: 50vh;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.header-font {
  font-family: "Kanit", sans-serif;
  font-size: 6rem;
}

.inputAndSubmit {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
.for-content-img {
  height: 550px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  position: relative;
}
#image_pic {
  border: solid 10px black;
  display: relative;
}
#result {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
